# Downloaded artifacts
paper-*.jar
versions/
cache/
libraries/
.paper/
plugins/*.jar
resourcepacks/*.zip
mcpacks/
minecera-web

# Runtime
logs/
debug/
crash-reports/
backups/
run/

# Mutable server state
server.properties
eula.txt
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

# World data
world/*
!world/

# Temporary data
datapacks_temp/

# Plugin runtime data
config/emotecraft.json
plugins/floodgate/key.pem
plugins/Geyser-Spigot/cache/
plugins/Geyser-Spigot/packs/
plugins/Geyser-Spigot/locales/overrides/
plugins/Geyser-Spigot/extensions/
plugins/Geyser-Spigot/custom_mappings/
plugins/spark/tmp/
plugins/GuestMode/accounts.yml
plugins/PlayerViewDistance/*.json
plugins/SkinsRestorer/players/
plugins/SkinsRestorer/skins/
plugins/Named-Villagers/config.yml

# Local web credentials
run/web.credentials

# Local MOTD state
motd/data.motd
