# Paper
paper-*.jar
versions/
cache/
libraries/
.paper/

# Managed downloads
plugins/*.jar
resourcepacks/*.zip
mcpacks/*
minecera-web

# Runtime
logs/
debug/
crash-reports/

# Supervisor runtime state
backups/
run/

# Player and server state
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
eula.txt

# World runtime data
world/*
!world/

# Temporary world data
datapacks_temp/

# Plugin runtime data
config/emotecraft.json
plugins/floodgate/key.pem
plugins/Geyser-Spigot/cache/
plugins/Geyser-Spigot/packs/
plugins/Geyser-Spigot/locales/overrides/
plugins/Geyser-Spigot/extensions/
plugins/Geyser-Spigot/custom_mappings/
plugins/spark/tmp/
plugins/GuestMode/accounts.yml
plugins/PlayerViewDistance/*.json
plugins/SkinsRestorer/players/
plugins/SkinsRestorer/skins/

# Named-Villagers local configuration and API key
plugins/Named-Villagers/config.yml

# Minecera web credentials
run/web.credentials

# MOTD data
motd/data.motd
