[Unit]
Description=Minecera Minecraft Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=censera
WorkingDirectory=/home/censera/minecraft
ExecStart=/home/censera/minecraft/minecera-supervisor.sh
Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=180
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
