[Unit]
Description=Minecera Minecraft Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=censera
WorkingDirectory=/home/censera/minecraft
ExecStart=/home/censera/minecraft/start.sh
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=120
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
